<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>请支付</title>
    <link rel="stylesheet" href="../css\style.css">
    <script src="../js\jquery-3.1.1.min.js" charset="utf-8"></script>
</head>
<body>
<div class="One_Jdbox">
    <div class="Jdbox_head">
        <img src="../img\logo1.jpg" alt="">
        <ul>
            <li><span th:text="'你好,'+ ${nickname}+',欢迎光临谷粒收银台'"></span></li>

        </ul>
    </div>

    <div class="Jdbox_BuySuc">
        <dl>

            <dd>
                <span th:text="'订单提交成功，请尽快付款！订单号：'+${outOrderSn}"> </span>
                <span th:text="'商品标题：'+${subject}"> </span>
                <span th:text="'支付金额'+${totalAmount}+'元'"> </span>
            </dd>
            <dd>
                <span>推荐使用</span>
                <span>扫码支付请您在<font>24小时</font>内完成支付，否则订单会被自动取消(库存紧订单请参见详情页时限)</span>
                <span>订单详细</span>
            </dd>
        </dl>
    </div>
    <div class="Jd_main">
        <button id="paymentButton1">立即支付</button>
    </div>

    <form method="post" id="paymentForm1">
        <input type="hidden" name="totalAmount" th:value="${totalAmount}">
        <input type="hidden" name="orderSn" th:value="${outOrderSn}">
        <input type="hidden" name="alipayTradeNo" id="tradeNo">
    </form>


</div>
</body>

<script type="text/javascript">
    $(function () {
        $("#paymentButton1").click(function () {
            $("#paymentForm1").attr("action", "paymentReturn");
            var alipayTradeNo = "alipay"+(new Date()).getTime();

            $("#tradeNo").val(alipayTradeNo);
            $("#paymentForm1").submit();

        })


    })


    //立即支付按钮效果
    $("#paymentButton1").mouseover(function () {
        $(this).css({"cursor": "pointer", "background": "#FF5350"})
    }).mouseout(function () {
        $(this).css("background", "#FC6E6C")
    })


</script>


</html>